%general {
  border-left: 5px double black;
  border-top: 5px solid black;
  border-right: 5px double black;
  border-bottom: 5px solid black;
  border-radius: 5px;
  padding: 2px 2px;
}

body {
  width: 600px;
  margin: 0 auto;
  font-family: Hack;
  text-align: center;
}

.headline {
  @extend %general;
  padding: 0px;
}

nav ul {
  @extend %general;
  list-style: none;
  padding: 5px 5px;

  a {
    color: black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  li {
    display: inline;
  }
}

p {
  text-align: justify;
}

li {
  text-align: left;
}

.li-terms {
  display: inline-block;
}

footer {
  @extend %general;
  font-size: .8em;
  text-align: center;
}

.footer {
  text-align: inherit;
}
